<p>parent works!</p>

<!-- <app-child [parentTitle]="title"></app-child> -->
<p>Lista de Parents:</p>

<div *ngIf="parentNames.length > 0">
    <div *ngFor="let name of parentNames">
        <app-child [parentName]="name"></app-child>
    </div>
</div>
<div *ngIf="parentNames.length == 0">
    <p>Lista de parents vazia</p>
</div>

<app-child2 (itemChild)="newItemReceived($event)"></app-child2>
<p>Texto recebido: {{textReceived}}</p>


<p><a [routerLink]="['/my-first', textReceived]">Ir para My First</a></p>