<!-- <h1>Olá, turma!</h1> -->

<!-- <h2>My First Component</h2>
<h2>Olá, {{ name }}</h2> -->

<!-- <p [ngClass]="{bgGreen: showSuccessMessage === true}">Pagamento aprovado!</p>
<p *ngIf="showSuccessMessage">Formulário preenchido com sucesso!</p>

<p [ngStyle]="{backgroundColor: 'red'}">Este parágrafo é vermelho!</p> -->
<!-- <button (click)="onClickButton()">{{ enableTitle }}</button>
<div *ngIf="enableButton">
    <div *ngFor="let item of items">
        <h3>Pessoa</h3>
        <p>Nome: {{item.name}} </p>
        <p>CPF: {{ item.cpf }} </p>
        <p>Desconto: {{ item.value * fator }}%</p>
        <button [disabled]="!(item.value * fator >= 15)">Pode Emprestar</button>
    </div>
</div>
<br>
<input type="text" [(ngModel)]="randomText">

<p>Texto sendo alterado: {{randomText}}</p>

<button (click)="changeText()">Alterar texto</button>

<p><a [routerLink]="['/parent']">Ir para Parent Component</a></p>
<p><a [routerLink]="['/reactive']">Ir para Reactive Forms Component</a></p>
<p><a [routerLink]="['/template']">Ir para Template Driven Component</a></p> -->

<h2>Pipe de Gramas</h2>
<div *ngFor="let item of itensMarket">
    <p>Name: {{ item.name }}</p>
    <p>Weight: {{ item.weight | gramasTransform }}</p>
    <br>
</div>
<button (click)="saveItems()">Salvar Itens</button>
<button (click)="deleteItems()">Remover Itens</button>